input{
    margin:10px;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2A2A2A;
    text-align: center;
}

#navbar li {
    float: left;
    margin-bottom: 0;
}

#navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
}

#navbar li:hover {
    background-color: #111;
}

#right{
    float:right;
}

.message {
    border-radius: 25px;
    padding: .25em;
    list-style-type: none;
    background-color: #1EAEDB;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    margin: 1em;
}

.error {
    border-radius: 25px;
    padding: .25em;
    list-style-type: none;
    background-color: red;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    margin: 1em;
}
