<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Basic Page Needs
         –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>{{ config.APP_NAME }}{% block title %}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
         –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
         –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <!-- CSS
         –––––––––––––––––––––––––––––––––––––––––––––––––– -->

    <link href="{{url_for('static', filename='css/skeleton.css')}}" rel="stylesheet" media="screen">
    <link href="{{url_for('static', filename='css/normalize.css')}}" rel="stylesheet" media="screen">
    <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet" media="screen">

    <!-- Favicon
         –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="images/favicon.png">

  </head>
  <body>

    <header>
      <nav id="navbar">
        <ul id="menu">
          <li><a href="{{url_for('index')}}">Home</a></li>
          <li><a href="{{url_for('top')}}">Recent Games</a></li>
          <li><a href="{{url_for('player_search')}}">Player Search</a></li>
          <li><a href="{{url_for('deck_search')}}">Deck Search</a></li>
          <li><a href="{{url_for('deck_input')}}">Deck Input</a></li>
        </ul>
      </nav>
    </header>

    <!-- Error messages -->
    <div class="container">
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      <ul class=flashes>
        {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}

    </div>

    <!-- Primary Page Layout
         –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="container">
      {% block content %}{% endblock %}
    </div>

    <!-- End Document
         –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  </body>
</html>
