{% extends "_base.html" %}
{% block content %}

<div>
  <h1>Deck Search</h1>
  {% if decks is defined %}
  <h2>Query Results</h2>
  <hr><br>
  {% else %}
  <h2>No data found</h2>
  <hr><br>
  {% endif %}

  <table class="u-full-width">
    <thead>
      <tr>
        <th>DID</th>
        <th>Name</th>
        <th>Archetype</th>
        <th>Wins</th>
        <th>Losses</th>
        <th>Last Game</th>
      </tr>
    </thead>
    {% for deck in decks %}
    <tbody>
      {% for key, value in deck.items() %}
      <th> {{ value }} </th>
      {% endfor %}
    </tbody>
    {% endfor %}
  </table>
</div>

{% endblock %}
