{% extends "_base.html" %}
{% block content %}
<form method="post">
    <h1>{{entity}} search</h1>
    <hr>
  <div class="row">
    <input class="u-full-width" type="text" placeholder="{{entity}}name" name="name" required>
  </div>

  <input class="button-primary" class="u-full-width" type="submit" value="Submit">
</form>

{% endblock %}
