{% extends "_base.html" %}
{% block content %}
<form method="post">
  <h1>Players</h1>
  <hr>
  <div class="row">
    <div class="three columns">
      <label for="winner">Winner</label>
      <input class="u-full-width" type="text" placeholder="Username#id (id optional)" name="winner" required>
    </div>
    <div class="three columns">
      <label for="player2">Player 2</label>
      <input class="u-full-width" type="text" placeholder="Username#id (id optional)" name="player2" required>
    </div>
    <div class="three columns">
      <label for="player3">Player 3 (Optional)</label>
      <input class="u-full-width" type="text" placeholder="Username#id (id optional)" name="player3">
    </div> <div class="three columns">
      <label for="player4">Player 4 (Optional)</label>
      <input class="u-full-width" type="text" placeholder="Username#id (id optional)" name="player4">
    </div>
  </div>

  <div class="row">
    <div class="three columns">
      <label for="windeck">Winner's Deck</label>
      <input class="u-full-width" type="text" placeholder="Name#id (id optional)" name="windeck" required>
    </div>
    <div class="three columns">
      <label for="deck2">Deck 2</label>
      <input class="u-full-width" type="text" placeholder="Name#id (id optional)" name="deck2" required>
    </div>
    <div class="three columns">
      <label for="deck3">Deck 3 (optional)</label>
      <input class="u-full-width" type="text" placeholder="Name#id (id optional)" name="deck3">
    </div>
    <div class="three columns">
      <label for="deck4">Deck 4 (optional)</label>
      <input class="u-full-width" type="text" placeholder="Name#id (id optional)" name="deck4">
    </div>
  </div>

 <div class="row">
    <div class="three columns">
      <label for="winarchetype">Winner's Archetype</label>
      <input class="u-full-width" type="text" placeholder="Archetype Name (optional)" name="winarchetype">
    </div>
    <div class="three columns">
      <label for="archetype2">Archetype 2</label>
      <input class="u-full-width" type="text" placeholder="Archetype Name (optional)" name="archetype2">
    </div>
    <div class="three columns">
      <label for="archetype3">Archetype 3</label>
      <input class="u-full-width" type="text" placeholder="Archetype Name (optional)" name="archetype3">
    </div>
    <div class="three columns">
      <label for="archetype4">Archetype 4</label>
      <input class="u-full-width" type="text" placeholder="Archetype Name (optional)" name="archetype4">
    </div>
  </div>
  <input class="button-primary" class="u-full-width" type="submit" value="Submit">
</form>

{% endblock %}
