{% extends "_base.html" %}
{% block content %}

<div>
  <h1>Player Search</h1>
  <h2>Query Results</h2>
  <hr><br>

  <table class="u-full-width">
    <thead>
      <tr>
        <th>PID</th>
        <th>Name</th>
        <th>Wins</th>
        <th>Losses</th>
        <th>Last Game</th>
      </tr>
    </thead>
    {% for player in players %}
    <tbody>
      {% for key, value in player.items() %}
      <th> {{ value }} </th>
      {% endfor %}

    </tbody>
    {% endfor %}
  </table>
</div>

{% endblock %}
