{% extends "_base.html" %}
{% block content %}

<div>
  <h1>Last 10 Games</h1>
  <hr><br>
  <table class="u-full-width">
    <thead>
      <tr>
        <th>Game ID</th>
        <th>Player</th>
        <th>Deck</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      {% for game in games %}
      {% for key, value in game.items() %}
      <th> {{ value }} </th>
      {% endfor %}
    </tbody>
    {% endfor %}
  </table>
</div>

{% endblock %}
